html, body {
  display: flex;
  flex-direction: row;
  height: 100vh;;
}

#main {
  flex: 1;
  background: #aaa;
  overflow-y: scroll;  
}

#app {
  flex: 1;
  background: #aaa;
  overflow-y: scroll;  
}